* {
    text-decoration: none;
}

body {
    background-color: rgba(182, 63, 82, 0.822);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    font-size: 30px;
    color: white;
    height: 250px;
    width: 350px;
    border-radius: 16px;
    background: #191919;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-content {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 150px;
}

button {
    height: 50px;
    width: 70px;
    background: #fff;
    border-radius: 5px;
    color: darkred;
    font-weight: 800;
    font-size: 20px;
}